<div [hidden]="!submitted">
    <div>
        <h3>Welcome to this Survey {{objects.firstName}} {{objects.lastName}} </h3>
    </div>
    <button (click)="quesForm()">Click to answer</button>
    <div [hidden]="!accepted">
        <table>
            <tr>
                <td *ngFor="let test of tests;let i=index">{{i}}{{test}}</td>
                <td>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="option" id="option" value="yes">Yes</label>
                        <label class="radio-inline">
                            <input type="radio" name="option" id="option" value="no">No</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>